#about {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../pics/fairy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* #education {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
} */
#project-1:hover,
#project-2:hover,
#project-3:hover,
#project-4:hover {
  opacity: 0.5;
}

a:hover {
  color: #108dec;
}
